* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}

.container {
	padding: 0 10rem;
	margin: 0 auto;
}
.header {
	padding: 2rem 4rem 1rem 4rem;
	background-color: #280d47;
	color: white;
}
.heading,
.title-phone,
.title-email,
.github,
.behance,
.linkedin {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}
.heading h1 {
	font-weight: normal;
}
.heading h1 span {
	font-weight: bold;
}

.github div:first-child,
.behance div:first-child,
.linkedin div:first-child {
	font-size: small;
}
.github img,
.behance img,
.linkedin img {
	width: 19px;
	margin-right: 20px;
}

/* body section */

.body {
	padding: 2rem 4rem 1rem 4rem;
	background-color: white;
	color: white;
}

.body .about-me {
	width: 100%;
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 31% 31% 31%;
	/* justify-content: space-between;
	align-items: center; */
	margin: 5px 0;
}

.body .about-me h2 {
	background-color: #280d47;
	padding: 5px 100px;
	margin-bottom: 15px;
}
.body .about-me .about .paragraph p {
	color: #363636;
	font-size: 14px;
	margin-bottom: 18px;
	padding: 0 4px;
}

.body .about-me .software .apps,
.body .about-me .skills .apps {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 3rem;
}

.body .about-me .software .apps .app,
.body .about-me .skills .apps .app {
	margin-bottom: 15px;
}
.body .about-me .software .apps .app .app-name,
.body .about-me .skills .apps .app .app-name {
	color: #363636;
	font-weight: 500;
	margin-bottom: 8px;
}
.body .about-me .software .apps .app svg,
.body .about-me .skills .apps .app svg {
	width: 18px;
	margin-right: 13px;
}

.body .stack {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	/* padding: 0 3rem; */
}

.body .stack .heading {
	width: auto;
	background-color: #280d47;
	padding: 5px 120px;
	margin-bottom: 15px;
}
