* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
.container {
	padding: 0 10rem;
	margin: 0 auto;
}
.header {
	padding: 2rem 4rem 1rem 4rem;
	background-color: #280d47;
	color: white;
}
.heading,
.title-phone,
.title-email,
.github,
.behance,
.linkedin {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
	font-size: 1rem;
}
.heading h1 {
	font-weight: normal;
}
.heading h1 span {
	font-weight: bold;
}

.github div:first-child,
.behance div:first-child,
.linkedin div:first-child {
	font-size: small;
}
.github svg,
.behance svg,
.linkedin svg {
	width: 19px;
	margin-right: 20px;
}

/* body section */

.body {
	padding: 2rem 4rem 1rem 4rem;
	background-color: white;
	color: white;
}

.body .about-me {
	width: 100%;
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 31% 31% 31%;
	margin: 5px 0;
}

.body .about-me h2 {
	background-color: #280d47;
	padding: 5px 100px;
	margin-bottom: 15px;
}
.body .about-me .about .paragraph p {
	color: #363636;
	font-size: 14px;
	margin-bottom: 18px;
	padding: 0 4px;
}

.body .about-me .software .apps,
.body .about-me .skills .apps {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 3rem;
}

.body .about-me .software .apps .app,
.body .about-me .skills .apps .app {
	margin-bottom: 15px;
}
.body .about-me .software .apps .app .app-name,
.body .about-me .skills .apps .app .app-name {
	color: #363636;
	font-weight: 500;
	margin-bottom: 8px;
}
.body .about-me .software .apps .app svg,
.body .about-me .skills .apps .app svg {
	width: 18px;
	margin-right: 13px;
}

.body .stack {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
}

.body .stack .heading {
	width: auto;
	background-color: #280d47;
	padding: 5px 120px;
	margin-bottom: 15px;
}
.body .stack .row1,
.body .stack .row2 {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.body .stack .row2 {
	width: 85%;
}

.body .stack .row1 div,
.body .stack .row2 div {
	color: #363636;
	font-weight: 700;
}
.body .stack .row1 svg,
.body .stack .row2 svg {
	width: 10px;
}
.body .exp-edu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: initial;
	margin-top: 3rem;
}

.body .exp-edu svg {
	width: 32px;
}
.body .exp-edu .heading {
	text-align: center;
	width: auto;
	background-color: #280d47;
	padding: 5px 70px;
	margin-bottom: 4rem;
}

.body .exp-edu .edu .heading {
	margin-bottom: 4rem;
}
.body .exp-edu .exp {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: initial;
	align-items: flex-end;
	padding-right: 3rem;
}

.body .exp-edu .edu {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 3rem;
}

.body .exp-edu .exp .row {
	margin-bottom: 5rem;
}
.body .exp-edu .edu .row {
	margin-bottom: 5rem;
}
.body .exp-edu .exp h3,
.body .exp-edu .edu h3,
.body .exp-edu .exp div,
.body .exp-edu .edu div {
	color: #280d47;
	margin-bottom: 5px;
}

.body .exp-edu .exp p,
.body .exp-edu .edu p {
	color: #363636;
	font-size: 14px;
}

@media (max-width: 1500px) {
	.body .about-me .software .apps,
	.body .about-me .skills .apps {
		padding: 0 2rem;
	}
}
@media (max-width: 1100px) {
	.container {
		padding: 0 0;
		margin: 0 auto;
	}
	.body .exp-edu .heading {
		text-align: center;
		width: 100%;
		background-color: #280d47;
		padding: 5px 100px;
		margin-bottom: 2rem;
	}
}
@media (max-width: 800px) {
	.container {
		padding: 0 0;
		margin: 0 auto;
	}
	.header {
		padding: 2rem 4rem 1rem 4rem;
		background-color: #280d47;
		color: white;
	}
	.heading,
	.title-phone,
	.title-email,
	.github,
	.behance,
	.linkedin {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;
		margin: 20px 0;
		text-align: center;
	}
	.heading h1 {
		font-weight: normal;
	}
	.heading h1 span {
		font-weight: bold;
	}

	.github div:first-child,
	.behance div:first-child,
	.linkedin div:first-child {
		font-size: small;
	}
	.github img,
	.behance img,
	.linkedin img {
		width: 19px;
		margin-right: 20px;
	}

	/* body section */

	.body {
		padding: 2rem 2rem 1rem 2rem;
		background-color: white;
		color: white;
	}

	.body .about-me {
		width: 100%;
		display: block;
		grid-column-gap: 40px;
		grid-template-columns: 31% 31% 31%;
		margin: 5px 0;
	}

	.body .about-me h2 {
		background-color: #280d47;
		padding: 5px 50px;
		margin-bottom: 15px;
		text-align: center;
	}
	.body .about-me .about .paragraph p {
		color: #363636;
		font-size: 14px;
		margin-bottom: 18px;
		padding: 0 4px;
	}

	.body .about-me .software .apps,
	.body .about-me .skills .apps {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0 1rem;
	}

	.body .about-me .software .apps .app,
	.body .about-me .skills .apps .app {
		margin-bottom: 15px;
	}
	.body .about-me .software .apps .app .app-name,
	.body .about-me .skills .apps .app .app-name {
		color: #363636;
		font-weight: 500;
		margin-bottom: 8px;
	}
	.body .about-me .software .apps .app svg,
	.body .about-me .skills .apps .app svg {
		width: 18px;
		margin-right: 13px;
	}

	.body .stack {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 2rem;
	}

	.body .stack .heading {
		width: 100%;
		background-color: #280d47;
		padding: 5px 60px;
		margin-bottom: 15px;
	}
	.body .stack .row1,
	.body .stack .row2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 1rem;
	}

	.body .stack .row2 {
		width: 100%;
	}

	.body .stack .row1 div,
	.body .stack .row2 div {
		color: #363636;
		font-weight: 700;
		margin: 2px 5px;
	}
	.body .stack .row1 svg,
	.body .stack .row2 svg {
		width: 10px;
	}
	.body .exp-edu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;
	}

	.body .exp-edu svg {
		display: none;
	}
	.body .exp-edu .heading {
		text-align: center;
		width: 100%;
		background-color: #280d47;
		padding: 5px 50px;
		margin-bottom: 2rem;
	}

	.body .exp-edu .edu .heading {
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	.body .exp-edu .exp {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 0;
	}

	.body .exp-edu .edu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		padding-left: 0;
	}

	.body .exp-edu .exp .row {
		margin-bottom: 3rem;
	}
	.body .exp-edu .edu .row {
		margin-bottom: 3rem;
	}
	.body .exp-edu .exp h3,
	.body .exp-edu .edu h3,
	.body .exp-edu .exp div,
	.body .exp-edu .edu div {
		color: #280d47;
		margin-bottom: 5px;
	}

	.body .exp-edu .exp p,
	.body .exp-edu .edu p {
		color: #363636;
		font-size: 14px;
	}
}
@media (max-width: 320px) {
	.container {
		padding: 0 0;
		margin: 0 auto;
	}
	.header {
		padding: 2rem 4rem 1rem 4rem;
		background-color: #280d47;
		color: white;
	}
	.heading,
	.title-phone,
	.title-email,
	.github,
	.behance,
	.linkedin {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;
		margin: 20px 0;
	}
	.heading h1 {
		font-weight: normal;
	}
	.heading h1 span {
		font-weight: bold;
	}

	.github div:first-child,
	.behance div:first-child,
	.linkedin div:first-child {
		font-size: small;
	}
	.github img,
	.behance img,
	.linkedin img {
		width: 19px;
		margin-right: 20px;
	}

	/* body section */

	.body {
		padding: 2rem 2rem 1rem 2rem;
		background-color: white;
		color: white;
	}

	.body .about-me {
		width: 100%;
		display: block;
		margin: 5px 0;
	}

	.body .about-me h2 {
		background-color: #280d47;
		font-size: 15px;
		padding: 5px 30px;
		margin-bottom: 15px;
	}
	.body .about-me .about .paragraph p {
		color: #363636;
		font-size: 14px;
		margin-bottom: 18px;
		padding: 0 4px;
	}

	.body .about-me .software .apps,
	.body .about-me .skills .apps {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0rem;
	}

	.body .about-me .software .apps .app,
	.body .about-me .skills .apps .app {
		margin-bottom: 15px;
	}
	.body .about-me .software .apps .app .app-name,
	.body .about-me .skills .apps .app .app-name {
		color: #363636;
		font-weight: 500;
		margin-bottom: 8px;
	}
	.body .about-me .software .apps .app svg,
	.body .about-me .skills .apps .app svg {
		width: 13px;
		margin-right: 13px;
	}

	.body .stack {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}

	.body .stack .heading {
		width: 100%;
		background-color: #280d47;
		font-size: 25px;
		padding: 5px 30px;
		margin-bottom: 15px;
	}
	.body .stack .row1,
	.body .stack .row2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 1rem;
	}

	.body .stack .row2 {
		width: 100%;
	}

	.body .stack .row1 div,
	.body .stack .row2 div {
		color: #363636;
		font-size: 14px;
		font-weight: 700;
		margin: 2px 5px;
	}
	.body .stack .row1 svg,
	.body .stack .row2 svg {
		width: 10px;
	}
	.body .exp-edu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;
	}

	.body .exp-edu svg {
		display: none;
	}
	.body .exp-edu .heading {
		text-align: center;
		width: 100%;
		background-color: #280d47;
		font-size: 25px;
		padding: 5px 30px;
		margin-bottom: 2rem;
	}

	.body .exp-edu .edu .heading {
		margin-bottom: 2rem;
	}
	.body .exp-edu .exp {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 0;
	}

	.body .exp-edu .edu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 0;
	}

	.body .exp-edu .exp .row {
		margin-bottom: 2rem;
	}
	.body .exp-edu .edu .row {
		margin-bottom: 2rem;
	}
	.body .exp-edu .exp h3,
	.body .exp-edu .edu h3,
	.body .exp-edu .exp div,
	.body .exp-edu .edu div {
		color: #280d47;
		margin-bottom: 5px;
	}

	.body .exp-edu .exp p,
	.body .exp-edu .edu p {
		color: #363636;
		font-size: 14px;
	}
}
